<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="https://files.catbox.moe/v8wqvq.png" alt="My pic">
    <h1>My Profile</h1>
    <article>Hello my name is {{ name }}</article>
    <article>I am {{ age }} years old</article>
    <article>NPM       : {{ npm }}</article>
    <article>Hobi      : {{ hobby }}</article>
    <article>Deskripsi : {{ deskripsi }}</article>
    <article>Kiri : Tembok</article>
    <article>Kanan:</article>
    <article>Desc:</article>
    <img src="https://lh6.googleusercontent.com/TloNYGUS2FwdTSxroT9h1oJyCp2_5mC89uv_0eox1So-p1_h4iKT9laRjyM_Z06t19M43Q8A=w1366-h662-rw" alt="My Head is Overloaded">
    <p>my head after finishing this task<br>
    </p>

      <h1>Hello my name is Ahmad Naufal Hilmy</h1>
      <article>NPM : 1706043613</article>
      <article>I am 18 years old</article>
      <article>My Hobby is gacha</article>

</body>
</html>
